<li class="{{li_class}}">
    <form action="{{form_action}}" target="{{form_target}}" id="{{form_id}}">
        <button type="{{btn_type}}" class="{{btn_class}}" id=" {{btn_id}}">
            <img src="{{img_src}}" onmouseover="{{img_src2}}" onmouseout="{{img_src3}}" class="{{img_class}}"
                title="{{img_title}}" alt="{{img_alt}}">

            <h2 class="{{h2_class}}">{{h2_text}}</h2>
        </button>
    </form>
</li>