<li class="{{li_class}}">
    <form action="{{form_action}}" target="{{form_target}}" id="{{form_id}}">
        <button type="{{btn_type}}" class="{{btn_class}}" id="{{btn_id}}" style="{{btn_bg}}"
            onmouseover="{{btn_mouse_on}}" onmouseout="{{btn_mouse_out}}">

            <h2 class="{{h2_class}}">{{h2_text}}</h2>
        </button>
    </form>
</li>