<li class="{{li_class}}">
    <div class="{{btn_class}}" data-action="{{data_action}}">
        <img src="{{img_src}}" class="{{img_class}}" title="{{img_title}}" alt="{{img_alt}}">
        <h2 class="{{h2_class}}">{{h2_text}}</h2>
    </div>
</li>