<li class="{{li_class}}">
    <div class=" {{btn_class}}">
        <input type="radio" name="{{input_name}}" value="{{input_value}}" id="{{input_id}}"
            class="{{input_class}}  style=" "
            onclick=" {{onclick}}">

        <label for="{{label_for}}" ">
            <div class=" {{btn_class}}" style="{{btn_bg}}" onmouseover="{{btn_mouse_on}}"
            onmouseout="{{btn_mouse_out}}">
    </div>
    {{!-- <img src="{{img_src}}" id="{{img_id}}" class="{{img_class}}" title="{{img_title}}"
                alt="{{img_alt}}"> --}}
    </label>
    </div>
</li>